body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    background-image: url(https://imgs.search.brave.com/jpHdRI3NSZmtwgwbWyVZu_czPPhvSO3yHdoSTwmrvyM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzL2FhLzY4/L2M2L2FhNjhjNjRj/YmJiMTI2MjEzMTc0/OGY1ZDU3MzQ2Y2Vl/LmpwZw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Clock-Container{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
    margin: 0;
}
#clock{
    text-align: center;
    font-family: monospace;
    font-size: 5em;
    color: white;
    backdrop-filter: blur(1.37px);
}