body{
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}
#Choices button{
  font-size: 5em;
  border-radius: 50px;
  margin: 10px;
  padding: 10px;
  background-color: gold;
  box-shadow: 10px 10px 10px black;
  transition: background-color 0.5s;
}
#Choices button:hover{
  background-color: darkorange;
  cursor: pointer;
  transform: scale(1.05);
}
#Choices button:active{
  transform: scale(0.95);
}
#display{
  padding-top: 10px;
  font-size: 4em;
  font-weight: bold;
}
.redText{
  color: red;
}
.greenText{
  color: lime;
}
.aquaText{
  color: aqua;
}