#myBox{
    width: 150px;
    height: 150px;
    background-color: red;
    position:relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size : 2em;
}