body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
#container{
    background-color: rgb(50, 48, 48);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#display{
    background-color: rgb(82, 75, 75);
    border-radius: 10px;
    color: white;
    font-size: 3rem;
    max-width: 500px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 15px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
button{
    padding: 10px 20px;
    font-size: 2.5rem;
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border: none;
    background-color: rgb(82, 75, 75);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s, transform .5s;
}
button:hover{
    background-color: rgb(120, 116, 116);
    transform: scale(1.05); 
}
button:active{
    transform: scale(0.95); 
}
.operator{
    background-color: rgb(255, 165, 0);
    color: white;
    transition: background-color 0.5s, transform .5s;
}
.operator:hover{
    background-color: rgb(255, 140, 0);
    transform: scale(1.05);
}
.operator:active{
    transform: scale(0.95); 
}